body{

  background-color: white;
}

.Cabecera{

  width: 98vw;
  height: 10vh;
  border:1px solid black;
  box-sizing: border-box;
  padding-left: 1%;
  margin: auto;

}

.Logo{

  width: auto;
  height: 90%;
  
}